<div id="home" class="home">
  <div class="text-vcenter">
    <h3 class="landing">boston<span class="landing-strong-red">CHINA</span></h3>
    <h3 class="landing"><span class="landing-strong">TOWN</span>best<span class="red-text">eats</span></h3>
    <!-- <a href="#about" class="btn btn-default btn-lg">Continue</a> -->
  </div>
</div>
<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/placeholder.jpg" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Today's Top Picks</h2> <hr />
    <div class="row text-center">
      <% Restaurant.top_restaurants.each do |restaurant| %>
        <div class="col-sm-2 col-xs-4">
          <% if restaurant.image %>
            <%= image_tag(restaurant.image.thumb.url) %>
          <% else %>
            <img src="assets/restaurant_placeholder.png">
          <% end %>
          <div class="top-pick-name">
            <h4><%= link_to restaurant[0].name, restaurant_path(restaurant)%></h4>
          </div>
          <img class="rice-bowl" src="assets/bowl-<%= restaurant[0].average_rating %>.png">
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Additional information</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa. Duis euismod, augue et tempus consequat, lorem mauris porttitor quam, consequat ultricies mauris mi a metus. Phasellus congue, leo sed ultricies tristique, nunc libero tempor ligula, at varius mi nibh in nisi. Aliquam erat volutpat. Maecenas rhoncus, neque facilisis rhoncus tempus, elit ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="services" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Parallax scrolling effect is in action</h3>
        <h4>The next is the address on Google maps</h4>
      </div>
    </div>
  </div>
</div>
<!-- /fifth section -->

<!-- google map -->
<div id="google_map"></div>
<!-- /google map -->

<!-- footer -->
<footer>
  <hr />
  <div class="container">
    <p class="text-right">Copyright &copy; Your Company 2014</p>
  </div>
</footer>
<!-- /footer -->
