<div class="col-sm-6 restaurant">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </h2>
    </div>
    <div class="panel-body lead review-window">
      <div class="col-xs-6">
        <% if restaurant.photo.url %>
          <%= image_tag(restaurant.photo.thumb.url, class: "top-picks") %>
        <% else %>
          <img class="placeholder" src="assets/restaurant_placeholder.png">
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= restaurant.description %>
      </div>
    </div>
  </div>
</div>
